:root {
    --white: #FFFFFF;
    --grey: #25282C;
    --dark-grey: #191C20;
    --blue: #1E90FF;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: var(--white);
    outline: none;
}

body {
    background: var(--grey);
}

#container {
    margin: 3.66vw;
}

#brand {
    margin-bottom: 30px;
}

#tagline {
    margin-bottom: 30px;
}

#form {
    background: var(--dark-grey);
    width: 60vw;
    border-radius: 10px;
    padding: 40px;
}

.url-input {
    text-align: center;
    background: var(--grey);
    border: 1px solid transparent;
    border-radius: 5px;
    width: 350px;
    height: 20px;
    padding: 10px;
    margin: 5px;
    transition: all 0.2s;
}

.url-input:focus {
    border: 1px solid var(--blue);
}

#add-url {
    cursor: pointer;
    color: var(--white);
    background: var(--grey);
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    transition: all 0.2s;
}

#add-url:hover {
    border: 1px solid var(--blue);
}

#submit-btn {
    cursor: pointer;
    width: 300px;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background: var(--blue);
    color: var(--white);
    transition: all 0.2s;
}

#submit-btn:hover {
    background: var(--grey);
}

@media only screen and (max-width: 770px) {

    .url-input {
        width: 200px;
        margin-left: -15px;
    }

    #submit-btn {
        width: 150px;
    }

}

/* API-PAGE STYLES */

#api-page-brand {
    margin-bottom: 30px;
}

.api-page-element {
    margin-bottom: 50px;
    margin-top: 50px;
}

.api-page-saved-link {
    color: var(--blue);
    text-decoration: none;
    margin: 15px;
}

.api-page-saved-link:hover {
    text-decoration: underline;
}

li {
    margin: 1.5vw;
}